#topStrip {
    height: 20px;
    background-color: #324759;
    width: 100%;
}


#topNav {
    display: flex;
    justify-content: space-between;
}

#logoContainer img {
    max-height: 200px;
    margin-top: -45px;
}

.nav-logo {
    position: absolute;
}

.logoLogout {
    margin-left: 44.5%;
}

#linksContainer {
    margin-top: 25px;
    margin-right: 6vw;
}

.register {
    margin-left: -50px;
}